@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype'); 
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.hide{
    display: none;
}

.visible_main_screen{
    width: 100%;
    height: 100vh;
}


h1{
    color: #817B7B;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2{
    color: #000;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 7px;
}




/* fixed menu */
.name_qr{
    position: relative;
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    border-bottom: 2px solid #e9e4f6;
}

.name{
    width: 116px;
    height: 35px;
    flex-shrink: 0;
    position: absolute;
    left: 4%;
}

.name_qr a{
    position: absolute;
    right: 4%;
}

.qr{
    width: 44px;
    height: 44px;
}

/* center */
.center{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    border-radius: 35px;
    background: #F0CBA6;
    display: flex;
    position: relative;
    align-items: center;
}

.left_el{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.left_el div{
    background-color: white;
    border-radius: 12px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.left_el div img{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
}






.right_el{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.right_el_one{
    width: 90%;
    height: 110px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
}

.right_el_one_top{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    top: 10%;
}

.chest_img{
    width: 66px;
    height: 59px;
    position: absolute;
    right: 5%;
    top: -5px;
}


.right_el_one_txt{
    margin-left: 5%;
}


.right_el_one_bottom{
    margin-top: 25px;
    margin-left: 5%;
}


.claim_count{
    color: #222;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.claim_bar{
    width: 92%;
    height: 12px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #9CB2E9;   
}



.right_el_two{
    width: 90%;
    height: 110px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    margin-top: 30px;
}

.right_el_two_top{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    top: 10%;
}

.study_img{
    width: 59px;
    height: 59px;
    position: absolute;
    right: 5%;
    top: -5px;
}

.right_el_two_txt{
    margin-left: 5%;
}

.btn_claim{
    width: 50%;
    height: 25px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #9CB1E9;
    box-shadow: 0px 4px 0px 0px rgba(79, 102, 161, 0.68);  
    margin-top: 35px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* footer */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
}


.name_block{
    position: absolute;
    left: 2.5%;
}
.ftr_el{
    display: flex;
    align-items: center;
    width: 95%;
    height: 70px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
    margin-top: 37px;
}

.ftr_el img{
    width: 55px;
    height: 56px;
    flex-shrink: 0; 
    margin-left: 7px;
}

.ftr_el_txt{
    color: #888;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
}

.ftr_el_txt_right{
    position: absolute;
    right: 7.5%;
    color: #000;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}