body{
    margin: 0;
    padding: 0;
}

/* first stage */
.visible_first_stage{
    width: 560px;
    height: 680px;
    background-image: url(assets/bg_v2.jpg);  
}

.header_first_stage{
    width: 560px;
    display: flex;
    justify-content: right;
    position: relative;
    right: 10px;
    top: 10px;
}

.kubok_img{
    width: 70px;
}

.settings_img{
    width: 70px;
}

::-webkit-scrollbar {
    display: none;
}